@font-face {
  font-family: avenir;
  src: url(/fonts/AvenirLTStd-Black.otf);
}
*{
 padding: 0;
 margin: 0;
 box-sizing:border-box ;
 transition: all .4s ease-in-out;
 scroll-behavior: smooth;
 font-family: avenir; 
}

body{
 padding: 2rem 10%;
 background: #caacff;
}
.heading{

  text-align: center;
  font-size: 2rem;
  padding-bottom: 2.5rem;
  text-transform: capitalize;
 color: #6e00f5;
 stroke: 8px solid #e6a7f3;
 font-weight: 500;
}
.sec-1{
  border-radius: 2rem;
 min-height: 50vh;
 align-content: center;
 justify-content: center;
 padding: 1rem;
 background: rgba(255, 255, 255, 0.219);
 box-shadow: 0 .5rem 1rem rgba(14, 14, 14, 0.125);
}
 .headings{
  
    text-align: center;
    font-size: 1rem;
    padding-bottom: 2.5rem;
    color: #11000f;
    text-transform: capitalize;
}
.headings span{
    color: #6e00f5;
    text-transform: capitalize;

}
.sec-1 .content{
align-content: center;
justify-content: center;
}
.sec-1 .content input

{
  background-color: #ffffff;
 position: relative;
   padding: 1rem;
   margin: .7rem;
   font-size: 1rem;
   text-transform:capitalize;
   border:2px solid #6e00f5;
   width: 50%;
   height: 30px;
   border-radius: 1rem;
   text-align: center;
   align-self: center;
   justify-content: center;
  left: 14rem;
}
.sec-1 .content .paragraph
{
  font-size: 1.3rem;
  font-weight: 600;
  color: #7354fc;
  word-spacing: 4px;
  text-align: center;
}
.sec-1 .content button
{
  background-color: #6e00f5;
  position: relative;
    margin: .7rem;
    font-size: 1rem;
    text-transform:capitalize;
    color: #caacff;
 box-shadow: 0 .5rem 1rem rgba(14, 14, 14, 0.292);
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 1rem;
    text-align: center;
    align-self: center;
    justify-content: center;
   left: 14rem;

 }
 .sec-1 .content button:hover
 {
   background: #ffffff;
   color: #6e00f5;
 }

 .sec-2{
   position: relative;
   top: 9rem;
   bottom: 2rem;
  border-radius: 2rem;
  min-height: 50vh;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(255, 179, 237, 0.219);
  box-shadow: 0 .5rem 1rem rgba(14, 14, 14, 0.125);
 }
 .sec-2 .content{
  align-content: center;
  justify-content: center;
  }
  .sec-2 .content input
  
  {
    background-color: #ffffff;
   position: relative;
     padding: 1rem;
     margin: .7rem;
     font-size: 1rem;
     text-transform:capitalize;
     border:2px solid #9c00bb;
     width: 50%;
     height: 30px;
     border-radius: 1rem;
     text-align: center;
     align-self: center;
     justify-content: center;
    left: 14rem;
  }
  .sec-2 .content .paragraph-2,
  .sec-2 .content .paragraph-2a,
  .sec-2 .content .paragraph-2b,
  .sec-2 .content .paragraph-2c
  {
    font-size: 1.3rem;
    font-weight: 600;
    color: #7354fc;
    word-spacing: 4px;
    text-align: center;
  }
  .sec-2 .content button
  {
    background-color: #9c00bb;
    position: relative;
      margin: .7rem;
      font-size: 1rem;
      text-transform:capitalize;
      color: #caacff;
   box-shadow: 0 .5rem 1rem rgba(14, 14, 14, 0.292);
      border: none;
      width: 50%;
      height: 40px;
      border-radius: 1rem;
      text-align: center;
      align-self: center;
      justify-content: center;
     left: 14rem;
  
   }
   .sec-2 .content button:hover
   {
     background: #ffffff;
     color: #9c00bb;
   }
   .sec-3{
    position: relative;
    top: 17rem;
    bottom: 2rem;
   border-radius: 2rem;
   min-height: 50vh;
   align-content: center;
   justify-content: center;
   padding: 1rem;
   background: rgba(159, 85, 255, 0.219);
   box-shadow: 0 .5rem 1rem rgba(14, 14, 14, 0.125);
  }
  .sec-3 .content{
    align-content: center;
    justify-content: center;
    }
    .sec-3 .content input
    
    {
      background-color: #ffffff;
     position: relative;
       padding: 1rem;
       margin: .7rem;
       font-size: 1rem;
       text-transform:capitalize;
       border:2px solid #b731fff6;
       width: 50%;
       height: 30px;
       border-radius: 1rem;
       text-align: center;
       align-self: center;
       justify-content: center;
      left: 14rem;
    }
    .sec-3 .content .paragraph-3
    {
      font-size: 1.3rem;
      font-weight: 600;
      color: #382a76;
      word-spacing: 4px;
      text-align: center;
    }
    .sec-3 .content button
    {
      background-color: #b731fff6;
      position: relative;
        margin: .7rem;
        font-size: 1rem;
        text-transform:capitalize;
        color: #caacff;
     box-shadow: 0 .5rem 1rem rgba(14, 14, 14, 0.292);
        border: none;
        width: 50%;
        height: 40px;
        border-radius: 1rem;
        text-align: center;
        align-self: center;
        justify-content: center;
       left: 14rem;
    
     }
     .sec-3 .content button:hover
     {
       background: #ffffff;
       color: #3c045af6;
     }